<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Quiz Generator</title>
</head>
<body class="container">
    <div>
        <img src="{{ url_for('static', filename='quiz-genie.png') }}" alt="Quiz Image">
    </div>

    <div class="sec-upload">
        <h2>Upload a Document to Generate Quiz</h2>

        <div class="sec-form-upload">
            <form method="POST" enctype="multipart/form-data">
                <div class="button-container">
                    <label for="file-upload" class="file-label">Choose File</label>
                    <input type="file" name="file" accept=".docx, .pdf, .txt, .doc" id="file-upload" required onchange="updateFileName()">
                    <div class="file-name" id="file-name-display">No file chosen</div>
                </div>
                <div class="quiz-option">
                     <!-- New quiz type selection dropdown -->
                    <div class="quiz-type-container">
                        <label for="quiz-type">Select Quiz Type:</label>
                        <select name="quiz_type" id="quiz-type" required>
                            <option value="mcq">Multiple Choice</option>
                            <option value="true_false">True/False</option>
                            <option value="fill_blank">Fill in the Blank</option>
                            <option value="mixed">Mixed (All Types)</option>
                        </select>
                    </div>

                    <!-- Number of Questions Input Field -->
                    <div class="number-questions-container">
                        <label for="num-questions">Number of Questions:</label>
                        <input type="number" name="num_questions" id="num-questions" min="1" required>
                    </div>

                </div>
                <div class="btn-submit">
                    <button type="submit">Generate Quiz</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function updateFileName() {
            const input = document.getElementById('file-upload');
            const fileNameDisplay = document.getElementById('file-name-display');
            const fileName = input.files.length > 0 ? input.files[0].name : 'No file chosen';
            fileNameDisplay.textContent = fileName;
        }
    </script>
</body>
</html>
